@{
    Layout = null;
}

<div id="AddOrUpdateModal" tabindex="-1" aria-labelledby="feeModalTitle" class="modal fade" aria-modal="true" role="dialog">
    <div role="document" class="modal-dialog modal-lg">
        <form id="form-submit" action="#" method="#">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white">Thêm mới thiết bị</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Toà nhà</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="MaNha" name="MaNha" onchange="GetPhongByNha(this)">
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Trạng thái</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="TrangThai" name="TrangThai" onchange="GetDistrictForCityId(this)">
                                        <option value="">Chọn trạng thái</option>
                                        <option value="BINH_THUONG">Bình thường</option>
                                        <option value="BI_HONG">Bị hỏng</option>
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="email-id-icon">Số Lượng</label>
                                <div class="position-relative">
                                    <input type="number" placeholder="" id="SoLuong" name="SoLuong" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Số phòng</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="MaPhong" name="MaPhong" onchange="GetThongTinPhong(this)">
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="email-id-icon">Tên thiết bị</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="" id="TenThietBi" name="TenThietBi" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="email-id-icon">Ghi Chú</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="" id="GhiChu" name="GhiChu" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Loại phòng</label>
                                <div class="position-relative">
                                    <select class="form-select select" id="LoaiPhong" name="LoaiPhong">
                                        <option value="">Chọn loại phòng</option>
                                        <option value="2">Nam</option>
                                        <option value="3">Nữ</option>
                                    </select>
                                </div>
                                <!---->
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group has-icon-left">
                                <label for="email-id-icon">Giá thiết bị</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="" id="GiaThietBi" name="GiaThietBi" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button type="submit" class="btn btn-primary me-1 mb-1 btn-submit-format">Thêm mới</button></div>
            </div>
        </form>
    </div>
</div>