@using TECH.Areas.Admin.Models
@{
    ViewData["Title"] = "Văn Bản Biểu Mẫu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

</style>
<section>
    <div class="container">
        <div class="breadcum">
            <ul>
                <li><a title="" href="/">Trang chủ</a></li>/
                <li><a href="/VanBanBieuMau">Văn Bản Biểu Mẫu</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        <a href="https://dmb.hpu2.edu.vn/doc/mau-thoa-thuan-cho-o-noi-tru.html">
                            <img src="/image-default/download.png" style="width: 50px;height: 50px;">
                            <span>MẪU THOẢ THUẬN CHỖ Ở NỘI TRÚ</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dmb.hpu2.edu.vn/doc/mau-don-xin-vao-o-noi-tru.html">
                            <img src="/image-default/download.png" style="width: 50px;height: 50px;">
                            <span>MẪU ĐƠN XIN VÀO Ở NỘI TRÚ</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dmb.hpu2.edu.vn/doc/gioi-thieu.html">
                            <img src="/image-default/download.png" style="width: 50px;height: 50px;">
                            <span>HƯỚNG DẪN NỘP TIỀN PHÒNG Ở, TIỀN ĐIỆN VÀ TIỀN NƯỚC</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

